html, body {
    height: 100%;
    width: 100%;
	font-family: fantasy;
    display: flex;
    align-items: center;
    justify-content: center;
}
.individual-review-h2, p {
    color: white;
}
.main-row {
    display: flex;
    align-items: baseline;
    width: 100%;
    background: black;
    padding-top: 20px;
}
.main-header {
    font-size: 40px; 
    height: 70px;
    padding: 12px;
    margin-bottom: 5px;
}
.main-div {
    background: lightseagreen;
}
.reviews-display-container {
    /*border: 2px solid blue;*/
}
.reviews-display > p {
    background: white;
    color: black;
}
.panel-div {
    padding: 20px 10px 20px 10px;
}
.tabs-bar {
    background: white;
    border-radius: 5px;
}
.tabs-bar > li > a:hover {
    color: black;
    font-weight: bold;
    background: transparent;
}

.tabs {
	display: inline-block;
}
.gem-div {
    width: 500px;
    margin: 0 auto;
}

.info-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
}

.info-p {
    font-size: 20px;
}
.field {
    color: red;
    display: block;
}

.form-input {
    width: 100%;
}
.text-input {
    height: 300px;
}

.animate {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



















