html, body {
    height: 100%;
    width: 100%;
	font-family: fantasy;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    color: white;
}
.main-row {
    display: flex;
    align-items: baseline;
    width: 100%;
    background: black;
    padding-top: 20px;
}
.main-header {
    font-size: 40px; 
    height: 70px;
    padding: 12px;
    margin-bottom: 5px;
}
.main-div {
    background: lightseagreen;
}
.reviews-display-container {
    border: 2px solid blue;
}
.reviews-display > p {
    background: white;
    color: black;
}
.panel-div {
    padding: 20px 10px 20px 10px;
}
.tabs-bar {
    background: white;
    border-radius: 5px;
}
.tabs-bar > li > a:hover {
    color: black;
    font-weight: bold;
    background: transparent;
}

.tabs {
	display: inline-block;
}
.gem-div {
    width: 500px;
    margin: 0 auto;
}

.info-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
}

.info-p {
    font-size: 20px;
}
.field {
    color: red;
    display: block;
}